@import "tailwindcss";

:root {
  --bege: #F5EBD3;
  --verde-oliva: #6C7042;
  --marrom-claro: #A27244;
  --laranja: #C37C3A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bege);
  font-family: Arial, Helvetica, sans-serif;
}
